<div class="add-div">
	<form #addForm="ngForm" (ngSubmit)="push()">
		<mat-card class="add-card-left animated fadeIn">
			<div *ngIf="detail.url && !imageLoading" [style.background-image]="detail.safeUrl" class="add-uploaded-image"></div>
			<i *ngIf="detail.url && authentication.amILogged()" class="material-icons add-image-delete-icon" (click)="deleteImg()">close</i>
			<mat-spinner class="add-spinner" *ngIf="imageLoading"></mat-spinner>
			<label for="file" *ngIf="!detail.url && !imageLoading" class="material-icons add-image-icon">add_a_photo</label>
			<input id="file" style="display:none" name="file" type="file" (change)="upload()">
		</mat-card>
		<mat-card class="add-card-right animated fadeIn">
			<mat-card-title>
				Artist
			</mat-card-title>
			<mat-card-subtitle>
				Detail
			</mat-card-subtitle>

			<table class="add-table">
				<tr>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Name" name="name" autofocus required [(ngModel)]="detail.name" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="City" name="city" required [(ngModel)]="detail.city" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Born" name="born" required [(ngModel)]="detail.born" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Dead" name="dead" [(ngModel)]="detail.dead" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<mat-form-field class="add-text">
							<input matInput placeholder="Art Movement" name="movement" [(ngModel)]="detail.art_movement" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<mat-form-field class="add-textarea">
							<textarea matInput placeholder="Description" name="description" rows="8" required [(ngModel)]="detail.description" [disabled]="!authentication.amILogged()">
								</textarea>
						</mat-form-field>
					</td>
				</tr>
			</table>

			<mat-spinner class="add-save-spinner" *ngIf="saveLoading"></mat-spinner>
		</mat-card>
		<div class="add-fab-div">
			<button mat-fab color="primary" *ngIf="!saveLoading && showDelete && authentication.amILogged()" type="button" class="delete-fab" (click)="delete()">
				<mat-icon>delete</mat-icon>
			</button>
			<button mat-fab color="primary" *ngIf="!saveLoading && authentication.amILogged()" class="add-fab" type="submit" [disabled]="!addForm.form.valid || !detail.url ">
				<mat-icon>save</mat-icon>
			</button>

		</div>
	</form>
</div>