.gallery-card-wrapper{
    position:absolute; 
    top:3px; 
    left:3px; 
    right:3px;
    bottom:3px; 
    padding:0;
}

.gallery-card-wrapper:hover{
    cursor: pointer;
}

.gallery-card{
    background-size:cover; 
    background-position:center; 
    background-repeat:no-repeat;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    animation-name: reduce-background;
    animation-duration: 0.5s;
}

.gallery-card:hover{
    top:-100px;
    bottom:-100px;
    left:-100px;
    right:-100px;
    animation-name: expand-background;
    animation-duration: 0.5s;
}


.gallery-text{
    bottom:0; 
    left:10px; 
    min-height:30px; 
    color:white; 
    position:absolute;
    text-shadow: 1px 1px 2px grey;
    font-size: 13px;
}

.gallery-title{
    margin-right:1px;
}

.gallery-artist{
    margin-left:3px;
    opacity:0.5;
}

.gallery-divvone{
    position:absolute;
	padding:0;
	margin: auto;
      top: 45px; left: 5px; bottom: 0px; right: 5px;
      padding-bottom:10px;
}

.fab-absolute{
    position: fixed;
    bottom:15px;
    right:15px;
    z-index: 50;
    background: #91c2e9;
}

.fab-with_margin{
    margin:3px;
}

.fab-div{
    position: fixed;
    bottom:85px;
    right:26px;
    width:40px;
    z-index: 50;
}
