<div class="gallery-divvone">
  <mat-grid-list cols="4" rowHeight="4:3">
    <mat-grid-tile *ngFor="let piece of pieces" [colspan]="getCols(piece)" [rowspan]="getRows(piece)">
      <div class="gallery-card-wrapper" *ngIf="piece.url">
        <mat-card class="gallery-card" [style.background-image]="piece.safeUrl" (click)="open(piece)">
          <div class="gallery-text">
              <span class="gallery-title">{{piece.title}}</span> <span class="gallery-artist" *ngIf="piece.artist">•&nbsp;{{piece.artist.name}}</span>
          </div> 
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
 <div class="fab-div animated" [ngClass]="showingFabs? 'fadeInUp' : 'fadeOutDown'" *ngIf="authentication.amILogged()">
    <button matTooltip="Piece Of Art" [matTooltipPosition]="'before'" mat-mini-fab class="mini-fab-menu fab-with_margin" [routerLink]="['/home/detail']">
      <i class="material-icons" aria-label="Add Piece">color_lens</i>
    </button>
    <button matTooltip="Archaeological Find" [matTooltipPosition]="'before'" mat-mini-fab class="mini-fab-menu fab-with_margin" [routerLink]="['/home/detail', ARCH_PIECE]">
      <i class="material-icons">spa</i>
    </button>
    <button matTooltip="Artist" [matTooltipPosition]="'before'" mat-mini-fab class="mini-fab-menu fab-with_margin" style="margin-bottom:0" [routerLink]="['/home/artist']">
      <i class="material-icons">face</i>
    </button>
 </div>
  <button mat-fab class="fab-absolute animated" [ngClass]="showingFabs? 'to-red' : 'to-blue'"  (click)="showFabs()" *ngIf="authentication.amILogged()">
      <i class="material-icons" [ngClass]="showingFabs? 'rotateRight' : 'rotateLeft'" aria-label="Add Piece">add</i>
  </button>
</div>
