<mat-toolbar class="toolbar">
	<a class="home-logo" [routerLink]="['/home']"></a>
	<div class="home-div-align-right">
		<a mat-button style="color:white;" [routerLink]="['/home/gallery']">GALLERY</a>
		<a mat-button style="color:white;" [routerLink]="['/home/artists']">ARTISTS</a>
		<!--<i class="material-icons login-btn" [ngClass]="{'blue' : authentication.amILogged()}" (click)="authentication.logout()">settings_power</i>-->
	</div>
</mat-toolbar>
<router-outlet style="overflow:hidden"></router-outlet>