.toolbar{	
	box-shadow: 1px 1px 2px grey;
	height: 40px;
	position:fixed;
	z-index:50;
}

.mat-toolbar{
	min-height: 40px;
}


.home-logo{
    margin-top:0;
    margin-left:3px;;
	height: 58px;
	width:132px;
	background:url('/../../assets/images/museon.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}

.home-logo:hover{
	cursor: pointer;
}

.home-div-align-right{
	width:inherit;
	text-align:right;
}

.login-btn{
	color:white; 
	vertical-align:middle; 
	cursor:pointer
}

.blue{
	color:#91c2e9;
}

