
<div class="login-background">
	<mat-card class="login-card">
		<div class="login-background-img">
			<div class="login-div">
				<div class="login-logo" [routerLink]="['/home/gallery']"></div>
				<div id="firebaseui-auth-container" class="login-auth-div"></div>	
			</div>
			
			<p class="login-description">michele sapignoli ● 2017</p>
		</div>
	</mat-card>

</div>
