.login-card{
	position:absolute;
	height:320px;
	width:320px;
	padding:0;
	margin: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.login-background-img{
	height:100%;
	width:100%;
	/*background:url('/../../assets/images/background.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;*/
}

.login-logo{
	height: 70px;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	margin-top:9px;
	cursor:pointer;
	background:url('/../../assets/images/museon-login.png');
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}


.login-div{
	width:100%;
	float:right;
	padding-top:3%;
}

.login-tab {
	width: 100%;
}

.login-title{
	font-size:22pt;
}

.login-description{
	position:absolute;
	bottom:0px;
	margin-top:64px;
	font-size:12pt;
	margin-bottom:22px;
	width: 100%;
	text-align: center;
}

.login-auth-div{
	padding-top:16px;
	margin-bottom:15px;
}

.login-background{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;	
}