.add-div{
	position:absolute;
	padding:0;
	margin: auto;
  	top: 45px; left: 15%; bottom: 5%; right: 15%;
}

.add-card-right{
	overflow:hidden;
	position: relative;
}

.float-column{
	float:left; 
	margin-right:10px;
}

.add-card-left{
	height: 220px;
	width: 220px;
	display:  flex;
	justify-content: center;
	padding:0;
}

.add-card-left-arch-pieces{
	height: 203px;
	width: 203px;
	margin-top: 10px;
	padding:8px;
}

.add-image-icon{
	font-size: 60pt;
	cursor:pointer;
	align-self: center;
}

.add-uploaded-image-div{
	z-index:10;
	position:absolute;
	width:inherit;
	height:inherit;
	top:0;
	right:0
}

.add-uploaded-image{
	width:inherit; 
	height:inherit;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.add-image-delete-icon{
	position:absolute;
	top:2px;
	right:2px;
	cursor:pointer;
}

.add-text{
	width: 100%;
}

.add-table{
	width:100%;
}

.add-textarea{
	width:100%;
}

.add-fab-div{
	position:relative;
}

.add-fab{
	position:absolute; 
	overflow:none;
	top:-30px; 
	right:30px;
}

.delete-fab{
	position:absolute; 
	background-color:#aa3333;
	overflow:none;
	top:-30px; 
	right:100px;
}

.add-save-spinner{
	position:absolute; 
	bottom:5px; 
	right:10px;
	height:25px;
	width:25px;
}

.add-spinner{
	align-self: center;
}

.fab-absolute{
    position: fixed;
    bottom:15px;
    right:15px;
    z-index: 50;
    background: #91c2e9;
}

.fab-with_margin{
    margin:3px;
}

.fab-div{
    position: fixed;
    bottom:85px;
    right:26px;
    width:40px;
    z-index: 50;
}

.arch-piece-input{
	height:50px;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.add-card{
		position:absolute;
		padding:0;
		margin: auto;
		top: 5%; left: 0; bottom: 0; right: 0;
	}

	td{
		display:block;
	}


	.add-text{
		width: 100%;
	}

	.add-card-right{
		overflow:initial;	
	}

	.float-column{
		float:initial;
		margin:0 auto;
		margin-bottom: 3%;
	}

	.add-card-left{
		margin: 0 auto;
	}

	.add-div{
		position:absolute;
		padding:0;
		margin: auto;
		top: 12%; left: 3%; bottom: 3%; right: 3%;
	}

	.add-card-left-arch-pieces{
		height: 270px;
		display: inline-block;
		margin:3px;
	}

	.add-left-div{
		text-align: center
	}

	.arch-piece-input{
		width:100%;
	}
}