﻿<div class="add-div">
	<form #addForm="ngForm" (ngSubmit)="push()">
		<div class="float-column">
			<mat-card class="add-card-left animated fadeIn">
				<div *ngIf="detail.url && !imageLoading" [style.background-image]="detail.safeUrl" class="add-uploaded-image"></div>
				<i *ngIf="detail.url && authentication.amILogged()" class="material-icons add-image-delete-icon" (click)="deleteImg()">close</i>
				<mat-spinner class="add-spinner" *ngIf="imageLoading"></mat-spinner>
				<label for="file" *ngIf="!detail.url && !imageLoading" class="material-icons add-image-icon">add_a_photo</label>
				<input id="file" style="display:none" name="file" type="file" (change)="upload()">
			</mat-card>

			<div *ngIf="isArch" class="add-left-div">
				<mat-card class="add-card-left-arch-pieces" *ngFor="let piece of detail.pieces; let i=index">
					<mat-card-subtitle>
						Archaeological Piece
					</mat-card-subtitle>
					<table class="add-table">
						<tr>
							<td colspan="2">
								<mat-form-field class="add-text arch-piece-input">
									<input matInput placeholder="Title" name="ptitle{{i}}" autofocus required [(ngModel)]="piece.title" [disabled]="!authentication.amILogged()">
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td>
								<mat-form-field class="add-text arch-piece-input">
									<input matInput placeholder="Size" name="psize{{i}}" [(ngModel)]="piece.size" [disabled]="!authentication.amILogged()">
								</mat-form-field>
							</td>
							<td>
								<mat-form-field class="add-text arch-piece-input">
									<input matInput placeholder="Hosted at" name="phosted{{i}}" [(ngModel)]="piece.hostedAt" [disabled]="!authentication.amILogged()">
								</mat-form-field>
							</td>
						</tr>
						<tr>
							<td>
								<mat-form-field class="add-text arch-piece-input">
									<input matInput placeholder="AR asset" name="passet{{i}}" [(ngModel)]="piece.ARasset" [disabled]="!authentication.amILogged()">
								</mat-form-field>
							</td>
							<td colspan="2">
								<mat-checkbox name="pcheck{{i}}" [(ngModel)]="piece.inMuseum" [disabled]="!authentication.amILogged()">In museum</mat-checkbox>
							</td>
						</tr>
					</table>
				</mat-card>
			</div>
		</div>

		<mat-card class="add-card-right animated fadeIn">
			<mat-card-title>
				<span *ngIf="!isArch">Piece of Art</span>
				<span *ngIf="isArch">Archaeological Find</span>
			</mat-card-title>
			<mat-card-subtitle>
				Detail
			</mat-card-subtitle>

			<table class="add-table">
				<tr>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Title" name="title" autofocus required [(ngModel)]="detail.title" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-select placeholder="Artist" [(ngModel)]="detail.artist && detail.artist.key" name="artist" *ngIf="!isArch" [disabled]="!authentication.amILogged()">
							<mat-option *ngFor="let artist of artists" [value]="artist.key">
								{{artist?.name}}
							</mat-option>
						</mat-select>
						<mat-form-field class="add-text" *ngIf="isArch">
							<input matInput placeholder="Type" name="type" required [(ngModel)]="detail.type" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr *ngIf="!isArch">
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Date" name="date" required [(ngModel)]="detail.date" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Technique" name="technique" [(ngModel)]="detail.technique" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr *ngIf="!isArch">
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Dimensions" name="dimensions" [(ngModel)]="detail.dimensions" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Art Movement" name="movement" [(ngModel)]="detail.art_movement" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr *ngIf="isArch">
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Epoch" name="epoch" [(ngModel)]="detail.epoch" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Time" name="time" [(ngModel)]="detail.time" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr *ngIf="isArch">
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Owner" name="owner" [(ngModel)]="detail.owner" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Date of Discovery" name="dateofdiscovery" [(ngModel)]="detail.dateOfDiscovery" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field class="add-text" *ngIf="!isArch">
							<input matInput placeholder="Location" name="location" [(ngModel)]="detail.location" [disabled]="!authentication.amILogged()">
						</mat-form-field>
						<mat-form-field class="add-text" *ngIf="isArch">
							<input matInput placeholder="Place of Discovery" name="placeofdiscovery" [(ngModel)]="detail.placeOfDiscovery" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Beacon UUID" name="uid" [(ngModel)]="detail.beacon_uuid" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Beacon Major" name="major" [(ngModel)]="detail.beacon_major" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
					<td>
						<mat-form-field class="add-text">
							<input matInput placeholder="Beacon Minor" name="minor" [(ngModel)]="detail.beacon_minor" [disabled]="!authentication.amILogged()">
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<mat-form-field class="add-textarea">
							<textarea matInput placeholder="Description" name="description" rows="8" required [(ngModel)]="detail.description" [disabled]="!authentication.amILogged()">
								</textarea>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<mat-form-field>
							<input matInput placeholder="Tags" (keyup.enter)="onTagEnter()" name="tag" [(ngModel)]="currentTag" [disabled]="!authentication.amILogged()">
							<i class="material-icons add-image-delete-icon" (click)="onTagEnter()">add</i>
						</mat-form-field>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<mat-chip-list>
							<mat-chip style="cursor:pointer" *ngFor="let tag of detail.tags" (click)=deleteTag(tag)>
								{{tag}}
							</mat-chip>
						</mat-chip-list>
					</td>
				</tr>
			</table>

			<mat-spinner class="add-save-spinner" *ngIf="saveLoading"></mat-spinner>
		</mat-card>
		<div class="add-fab-div">
			<button mat-fab color="primary" *ngIf="!saveLoading && showDelete && authentication.amILogged()" type="button" class="delete-fab" (click)="delete()">
				<mat-icon>delete</mat-icon>
			</button>
			<button mat-fab color="primary" *ngIf="!saveLoading && authentication.amILogged()" class="add-fab" type="submit" disabled="!addForm.form.valid || !detail.url">
				<mat-icon>save</mat-icon>
			</button>

		</div>
	</form>
	<div class="fab-div animated" *ngIf="authentication.amILogged()" [ngClass]="showingFabs? 'fadeInUp' : 'fadeOutDown'">
		<button matTooltip="Add Archaeological Piece" [matTooltipPosition]="'before'" mat-mini-fab class="mini-fab-menu fab-with_margin"
		 (click)="addArchaelogicalPiece()">
			<i class="material-icons" aria-label="Add Archaeological Piece">extension</i>
		</button>
	</div>
	<button mat-fab class="fab-absolute animated" [ngClass]="showingFabs? 'to-red' : 'to-blue'" (click)="showFabs()" *ngIf="isArch && authentication.amILogged()">
		<i class="material-icons" [ngClass]="showingFabs? 'rotateRight' : 'rotateLeft'" aria-label="Add Piece">add</i>
	</button>
</div>