* {
	padding: 0;
	margin: 0;
}

body, div, iframe, table, tr, td, ul, li, input, fieldset, select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.full-width{
	width:100%;
}


.mat-toolbar-row{
	height: 40px !important;
}


.rotateRight{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;    
}

.rotateLeft{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s;    
}

@keyframes to-red-animation {
    from {background-color: #91c2e9;}
    to {background-color: #aa3333;}
}

.to-red{
    animation-name: to-red-animation;
    animation-duration: 1s;
}
@keyframes to-blue-animation {
    from {background-color: #aa3333;}
    to {background-color: #91c2e9;}
}

.to-blue{
    animation-name: to-blue-animation;
    animation-duration: 1s;
}

.mini-fab-menu{
    background-color: #91c2e9 !important;
}

@keyframes reduce-background {
    from {
        top:-100px;
        bottom:-100px;
        left:-100px;
        right:-100px;
    }
    to {
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
}

@keyframes expand-background {
    from {
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    to {
        top:-100px;
        bottom:-100px;
        left:-100px;
        right:-100px;
    }
}

.mdl-button--colored{
	background:#91c2e9 !important;
}

.mdl-button--primary{
    color:#91c2e9 !important;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after{
    background-color:#91c2e9 !important;
}

.mdl-textfield__label:after{
    background-color:#91c2e9 !important;
}

.mat-snack-bar-container{
    background: #91c2e9 !important;
}

.mat-simple-snackbar-action{
    color: #aa3333 !important;
}