@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$primary-color-dark: #91c2e9; //Azzurro
$primary-color: #0b2035; // #ceccd3; //Grigio
$primary-color-light: #f1f0f4;
$accent-color: #7a76b5; //Viola
$primary-text-color: #b8b8b8;
$primary-text-color-hover: #8c8c8c;
$divider-color: #b1afb3;
$background-color:#eeeded;

$mat-primary: ( 50: $primary-color-dark, 100: $primary-color, 200: $primary-color-dark, 300: $primary-color-dark, 400: $primary-color, 500: $primary-color-dark, 600: $primary-color-dark, 700: $primary-color, 800: $primary-color-dark, 900: $primary-color-dark, A100: $primary-color, A200: $primary-color-dark, A400: $primary-color-dark, A700: $primary-color-dark, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: white, 500: white, 600: $white-87-opacity, 700: $white-87-opacity, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: $black-87-opacity, A400: white, A700: $white-87-opacity, ) );

$mat-accent: ( 50: $accent-color, 100: $accent-color, 200: $accent-color, 300: $accent-color, 400: $accent-color, 500: $accent-color, 600: $accent-color, 700: $accent-color, 800: $accent-color, 900: $accent-color, A100: $accent-color, A200: $accent-color, A400: $accent-color, A700: $accent-color, contrast: ( 50: $black-87-opacity, 100: $black-87-opacity, 200: $black-87-opacity, 300: $black-87-opacity, 400: $black-87-opacity, 500: white, 600: white, 700: white, 800: $white-87-opacity, 900: $white-87-opacity, A100: $black-87-opacity, A200: white, A400: white, A700: white, ) );


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-primary);
$candy-app-accent: mat-palette($mat-accent, A200, A100, A400);
// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


body{ 
   /* background-color: $background-color;*/
   /*background-color: #d04a4a;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23ff6666' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
*/
	background-color: #ededed;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23aba6a6' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.login-title{
	color: $primary-color-dark;
}

.login-background-img{		
	background-color: white;
	//background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d04a4a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.login-background{
	background-color:#aa3333;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23aba6a6' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.toolbar{
	border-top:2px solid #91c2e9;
	background-color: #aa3333;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d04a4a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	/*background:url('/../../assets/images/background.jpg');
    background-position: top left;
    background-size:320px;
	text-align:right;*/
}
.login-description{
	color:$background-color;
}

.add-image-icon{
	color:$primary-text-color;
}

.add-image-icon:hover{
	color:$primary-text-color-hover;
}

.add-image-delete-icon{
	color:$primary-text-color;
}


@media only screen and (max-width : 640px), (min-device-width: 768px) and (max-device-width: 1024px) {
	.withborder {
		padding-top: 2px;
		border-bottom: 1px dotted lightgrey;
	}

	.toolbar{
		border-top:0;
	}
}
